/* margin di default 8px da strumenti per sviluppatori */
body{
    margin: auto;
}

/* Problema di visualizzazione del titolo */
header h1
{
    margin: auto;
}

header {
    margin: auto;
    padding-top: 15px;
    background-color: blue;
    color: white;
    text-align: center;
}

nav
{
    margin-top: 15px;
    background-color: aqua;
    color: black;
}

/* navbar con la lista non ordinata */
nav ul
{
    display: inline-flex; /* disposizione orizzontale */
    list-style-type: none; /* nasconde i punti */
}

/* Distanziazione elementi della lista */
nav li{
    padding: 5px;
}

nav a {
    padding: 5px;
    text-decoration: none;
}

/*  NON NECESSARIO IN QUESTO CASO
    nav a:visited {
    background-color: cyan;
} */
  
nav a:hover {
/*     background-color: rgb(250, 250, 250); */
    text-decoration: red underline !important;
}

nav a:active {
    background-color:blue;
} 

section
{
    padding-left: 30px;
}

/* Footer */
.barra-fondo {
    width: 100%;
    background-color: var(--blu-primario);
    padding: 1rem !important;
    color: var(--bianco);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* <--- aggiungi questa */
    align-items: center;      /* <--- e anche questa */
}


.testo-barra {
    font-family: 'Font_Light', sans-serif;
    font-weight: normal;
}

.testo-barra a {
    color: var(--blu-secondario);
    text-decoration: none;
    text-align: center;
}

.testo-barra a:hover {
    text-decoration: underline;
    text-align: center;
}

.menu-toggle {
    display: none; /* Nascondi di default */
}
