/* margin di default 8px da strumenti per sviluppatori */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* ← elimina la barra orizzontale */
    box-sizing: border-box;
}

/* Problema di visualizzazione del titolo */
header h1
{
    margin: auto;
}

/* regola per evitare di vedere aspetto de link  sottoloneato */
header a
{
    text-decoration: none;
}

header h1:hover {
    /*     background-color: rgb(250, 250, 250); */
        text-decoration: red underline !important;
    }

header {
    margin: auto;
    padding-top: 15px;
    background-color: blue;
    color: white;
    text-align: center;
}

nav
{
    margin-top: 15px;
    background-color: aqua;
    color: black;
}

/* navbar con la lista non ordinata */
nav ul
{
    display: inline-flex; /* disposizione orizzontale */
    list-style-type: none; /* nasconde i punti */
}

/* Distanziazione elementi della lista */
nav li{
    padding: 5px;
}

nav a {
    padding: 5px;
    text-decoration: none;
}

/*  NON NECESSARIO IN QUESTO CASO
    nav a:visited {
    background-color: cyan;
} */
  
nav a:hover {
/*     background-color: rgb(250, 250, 250); */
    text-decoration: red underline !important;
}

nav a:active {
    background-color:blue;
} 

section
{
    padding-left: 30px;
}

/* Footer */
.barra-fondo {
    width: 100vw; /* usa la larghezza esatta della finestra */
    background-color: blue;
    padding: 1rem !important;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
}


.testo-barra {
    font-family: 'Font_Light', sans-serif;
    font-weight: normal;
}

.testo-barra a {
    color: var(--blu-secondario);
    text-decoration: none;
    text-align: center;
}

.testo-barra a:hover {
    text-decoration: underline;
    text-align: center;
}

.menu-toggle {
    display: none; /* Nascondi di default */
}
